.completed
  border-bottom: 1px solid #CCC

  strong
    display: block

  .description
    opacity: 0.8

.search
  background: #F4F4F4
  color: #444
  font-family: "proxima-nova-1","proxima-nova-2",sans-serif
  margin: 0 -20px
  padding: 20px
  width: 100%

  *
    box-sizing: border-box

  form
    margin: 0 auto
    max-width: 1140px
    overflow: visible
    width: 100%

  fieldset
    border: 0
    float: left
    padding: 0
    width: 100%

  .selectize-control.single
    .selectize-input
      background: #FFF

      &:after
        display: none
