.completed
  border-bottom: 1px solid #CCC

  strong
    display: block

  .description
    opacity: 0.8

.search
  background: #F4F4F4
  color: #444
  font-family: "proxima-nova-1","proxima-nova-2",sans-serif
  margin: 0 -20px
  padding: 20px 0 80px

  form
    overflow: visible

  fieldset
    border: 0
    float: left
    padding: 0
    width: 100%

  .selectize-dropdown
    border-top-width: 1px
    border-top-style: solid

  .selectize-control.single
    .selectize-input
      background: #FFF

      &:after
        display: none
